body {
    margin: 0;
    background-image: url("/assets/HTML_Background.jpg");
    font-family: 'Turret Road', cursive;
    background-color: black;
}

#game {
    margin: auto;
    margin-top: 7.55vh;
    display: block;
    width: 750px;
    height: 1000px;
    font-size: 40px;
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-color: black;
}

.game-play.canvas {
    margin: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    border-style: solid;
    background-color: grey;
    border-width: 1px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.75em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

.menu-button {
    animation: flash 2s infinite;
    color: red;
}

ul.menu li button {
    font-family: 'Turret Road', cursive;
    font-size: 0.6em;
    color: white;
    width: 10em;
    height: 1.5em;
    background: red;
    border: 0.1em solid red;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: darkred;
    border: 0.1em solid darkred;
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-position: inside;
    color: white;
    padding-top: 33vh;
}

#game div p {
    font-size: 0.5em;
}

#about {
    text-align: center;
    color: white;
    padding-top: 33vh;
}

#help {
    text-align: center;
    color: white;
    padding-top: 33vh;
}

#buttonInput {
    font-family: 'Turret Road', cursive;
    display: inline-flex;
    width: 30%;
    height: 100%;
    border-radius: 0%;
    font-size: .75em;
}

#set-button {
    font-family: 'Turret Road', cursive;
    font-size: 0.6em;
    color: white;
    width: 10em;
    height: 1.5em;
    background: green;
    border: 0.1em solid green;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

#set-button:hover {
    background: darkgreen;
    border: 0.1em solid darkgreen;
}

@keyframes flash {
    0% {
        color: red;
    }
    50% {
      color: white;
    }
    100% {
      color: red;
    }
  }


  .menu-button:hover {
    color: red;
    animation: staticFlash 1s infinite;
  }

  @keyframes staticFlash {
    0% {
        color: red;
    }
    50% {
      color: red;
    }
    100% {
      color: red;
    }
  }