body {
    margin: 0;
    background-image: url("/assets/HTML_Background.jpg");
}

#game {
    margin: auto;
    margin-top: 7.55vh;
    display: block;
    width: 750px;
    height: 1000px;
    font-size: 40px;
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-color: black;
}

.game-play.canvas {
    margin: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    border-style: solid;
    background-color: grey;
    border-width: 1px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.75em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

.menu-button {
    color: white;
}

.menu-button:hover {
    color: red;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    color: #CECEF6;
    width: 10em;
    height: 1.5em;
    background: #0404B4;
    border: 0.1em solid rgb(255, 0, 0);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: #2E2EFE;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    margin-top: 33vh;
}

#game div p {
    font-size: 0.5em;
}

#about {
    text-align: center;
    color: white;
    padding-top: 33vh;
}

#help {
    text-align: center;
    color: white;
    padding-top: 33vh;
}
